@media screen and (min-width: 376px) {
  .content {
    width: 100vw;
  }
  .pokemons {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .just-one {
    height: 39rem;
  }

  .pokemon-details {
    width: 100%;
  }

  .pokemon .detail .types {
    width: 68px;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    width: 36rem;
    height: 50rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .details-header .info-header {
    gap: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    width: 48rem;
    height: 48rem;
  }

  .pokemon {
    max-height: 140px;
  }

  .details-header .info-header {
    gap: 15rem;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
